html, body, form
{
    height: 100%;
    margin: 0;
    padding: 0;
}

body
{
    overflow: hidden; /*To hide scrollbars on page*/
}

@font-face
{
    font-family: "SpecialElite";
    src: url("../../assets/Fonts/SpecialElite.ttf");
}

.container-fluid
{
    height: 100%;
    display: table;
    width: 100%;
    padding: 0;
}

    .container-fluid:after
    {
        content: none;
    }

    .container-fluid:before
    {
        content: none;
    }

/*Page Background defined here*/
.row-fluid
{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    background: url('../../assets/images/Elegant_Background-9.jpg');
}

.centering
{
    float: none;
    margin: 0 auto;
    padding: 10px;
}

.drop-shadow
{
    width: 100%;
    padding: 0;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

    .drop-shadow:before,
    .drop-shadow:after
    {
        content: "";
        position: absolute;
        z-index: -2;
    }

.raised
{
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

input
{
    font-family: 'FontAwesome' !important;
}
/* This is for the placeholder */

.textbox
{
    width: 100%;
    padding: 17px 20px;
    border: none;
    background: transparent;
    font-family: 'FontAwesome', Candara;
    position: relative;
    font-size: 24px;
    font-weight: bold;
}

.btn-login-base
{
    width: 32px;
    height: 34px;
    padding: 0;
    background: transparent;
    border: none;
    color: #fff;
}

.brand
{
    position: absolute;
    width: 180px;
    height: 40px;
    display: none;
    color: white;
    font-size: 26px;
    font-weight: bold;
    font-family: 'SpecialElite';
    text-shadow: 3px 1px 1px black;
}

#spMsg
{
    color: red;
    font-weight: bold;
    font-size: 16px;
    font-family: 'SpecialElite';
    text-shadow: 3px 1px 1px black;
}

#btnLogin i{
    font-size:35px;
}